/* top bar */

#navbar {
  background-color: #1a2238 !important;
}

#text-color:hover {
  color: #ff6a3d;
}

#text-color1:hover {
  color: #ff6a3d !important;
}

#text-color2:hover {
  color: #ff6a3d !important;
}

#navbarDropdownMenuLink:hover {
  color: #ff6a3d !important;
}

#text-color4:hover {
  color: #ff6a3d !important;
}

#contact {
  outline: 2px solid #fff;
  color: #fff;
}

#contact {
  color: #f12c0a;
}

#contact:hover {
  color: #fff;
  background-color: #f12c0a;
  transition: 0.4s ease;
}

#contact:active {
  transform: translate(5px);
}

#background-list {
  background-color: #1a2238;
}

.dropdown-item {
  color: #fff;
  font-size: 18px;
}

.dropdown-item:hover {
  color: #ff6a3d;
  background-color: #fff;
}

div .navbar-brand {
  font-size: 23px;
  padding-right: 20px;
}

li .nav-link {
  font-size: 18px;
  font-weight: 500;
}

/* modal */
.modal-content {
  background-position: center;
  background-size: cover;
  border: 1px solid black;
  border-radius: 0.3rem;
  font-weight: 500;
  color: #fff;
}

#background {
  background-color: #ff6a3d;
}

.item img {
  border-radius: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#get-dropdown {
  background-color: #1a2238;
}

#mail {
  color: #fff;
  text-decoration: none;
}

/*Navbar-media query*/
@media only screen and (max-width: 768px) {
  #contact {
    position: relative;
    margin-left: 22px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  #toggle {
    margin-right: 22px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0.5rem;
    font-size: 18px;
  }
}

/* home */
#text-light {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

.fa-download {
  font-size: 19px;
}

/* about section */
#button-resume {
  margin-top: 30px;
}

#resume-down {
  text-decoration: none;
  color: #1a2238;
  font-weight: 700;
}

.about-text,
.myskill-text {
  color: #1a2238;
  font-weight: 700;
  border-bottom: #f12c0a 2px solid;
}

#intro,
#myskill-text {
  color: #f12c0a;
}

@media only screen and (max-width: 450px) {
  #intro {
    font-size: 20px;
  }
}

.my_first {
  color: #1a2238;
}

.skills {
  color: #f12c0a;
  font-weight: 700;
}

h1 {
  font-family: "Do Hyeon", sans-serif;
}

.strength,
.personal {
  font-weight: 500;
}

/* skill-section */
.skills-image img {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.skills-image {
  width: 310px;
  min-height: 380px;
  border-radius: 15px;
  font-size: 16px;
  padding: 10px 10px 10px 15px;
  box-shadow: -1px 11px 23px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 11px 23px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 11px 23px -6px rgba(0, 0, 0, 0.75);
  transition: ease 0.5s;
  cursor: pointer;
}

.skills-image:hover {
  box-shadow: none;
}

.skill-img-size {
  font-size: 18px;
  font-weight: 500;
  color: #f12c0a;
}

.learning {
  font-size: 19px;
}

/* my work */
.mywork-text {
  color: #1a2238;
  border-bottom: #f12c0a 2px solid;
  padding-bottom: 10px;
  font-weight: 700;
}

h2 {
  width: 40%;
  text-align: center;
}

.intern {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
}

.frontend {
  color: #f12c0a;
}

#work-link {
  text-decoration: none;
  color: #fff;
  background-color: #1a2238;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
}

#work-link:hover {
  background-color: #f12c0a;
  transition: 0.4s ease;
}

/* helpfull section */
#help {
  background-color: #1a2238;
}

.usefull {
  color: #fff;
}

.usefull-links {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  background-color: #f12c0a;
  width: 200px;
  text-align: center;
  padding: 10px 27px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.usefull-links:hover {
  color: white;
  text-decoration: underline;
}

/* summary */
.summary {
  color: #1a2238;
  border-bottom: 2px solid #f12c0a;
}

#description {
  color: #1a2238;
  text-align: justify;
}

/* memories */
.memories {
  color: #f12c0a;
  border-bottom: #1a2238 2px solid;
}

.owl-carousel .item {
  transition: transform 0.1s ease;
}

.owl-carousel .item:hover {
  transform: scale(1.1);
}

#top a img {
  width: 40px;
  height: auto;
  display: block;
  text-align: right;
}

.footer_section a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.footer_section a:hover {
  text-decoration: underline;
  color: #f12c0a;
}

#shadow img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shadow img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#socialmedia a {
  color: white;
}

#socialmedia1:hover {
  color: blue;
}

#socialmedia2:hover {
  color: red;
}

#socialmedia3:hover {
  color: #0077b5;
}

.summary p {
  font-family: all;
  font-size: 22px;
}

.btn-secondary {
  color: #fff;
  background-color: #f12c0a;
  border-color: black;
}

.btn-secondary:hover {
  color: #ff6a3d;
  background-color: #1a2238;
  border-color: black;
}

.linkedin a {
  text-decoration: none;
  color: #fff;
}

.modal-footer {
  margin-bottom: px;
}

/*scroll-to-top */
.to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  font-size: 30px;
  color: #f12c0a;
}

/* 29-7-2022 */
::selection {
  background-color: #1a2238;
  color: #fff;
}

@media only screen and (max-width: 430px) {
  #button-resume {
    margin-left: -1px !important;
    margin-top: -5px !important;
  }
}

/* 4-Dec-2022 */
/* custom scrollbar */
body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
  width: 15px;
}

body::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}