.text2 {
  padding-left: 20px;
  padding-right: 20px;
}

.para {
  font-size: 23px;
  padding-top: 15px;
  text-align: justify;
}

.text1 {
  color: black;
  font-weight: bold;
}

.formate {
  color: #d82424;
  font-size: 30px;
  font-weight: bolder;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul li {
  font-size: 23px;
}

#photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.footer {
  background-color: #d82424;
  text-align: right;
  color: white;
  padding-top: 5px;
  margin-bottom: 15px;
}
