#back {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  object-fit: cover;
}

.btn {
  /* width: 230px; */
  width: 200px;
  background-color: #f12c0a;
  color: #fff;
  font-weight: 500;
  box-shadow: -1px 11px 23px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 11px 23px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 11px 23px -6px rgba(0, 0, 0, 0.75);
}

.resume:hover {
  color: white;
}

h2 {
  margin-bottom: 40px;
  color: #1a2238;
  font-weight: 700;
  font-size: 38px;
  text-shadow: -1px -8px 3px rgba(63, 88, 190, 0.28);
}

/*button */

a {
  text-decoration: none;
  color: white;
}

.btn:hover {
  box-shadow: none;
  color: #fff;
}


@media only screen and (max-width: 500px) {
  h2 {
    font-size: 27px;
  }

  .btn {
    font-size: 15px !important;
    width: 170px;
  }
}

@media only screen and (max-width: 400px) {
  h2 {
    font-size: 22px;
  }

  .btn {
    font-size: 14px !important;
    width: 150px;
  }
}

@media only screen and (max-width: 350px) {
  #back>div>div>div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    font-size: 23px;
    display: flex;
    justify-content: center;
  }

  .btn {
    font-size: 16px !important;
    width: 170px;
  }
}