.section1 {
  padding-left: 10px;
  padding-right: 10px;
}

.formate {
  color: #d82424;
  font-size: 30px;
  font-weight: bolder;
  padding-top: 15px;
}

.text1 {
  color: black;
  font-weight: bold;
}

p {
  font-size: 23px;
}

.last {
  font-size: 23px;
  font-weight: bolder;
  font-style: italic;
}

#pic {
  width: 800px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background-color: #d82424;
  text-align: right;
  color: white;
  padding-top: 5px;
  margin-bottom: 15px;
}
